# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Cursor Rules
.cursor

# Broadcast files
broadcast/
broadcast/00_DeployHook.s.sol/1301/run-1750999608.json
broadcast/00_DeployHook.s.sol/1301/run-latest.json
